:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  /* margin: auto;
  display: flex;
  align-content: center;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';

  background: linear-gradient(135deg,
      #FFFFFF 0%,
      #FCFCFD 30%,
      #F8F8F8 70%,
      #f6b54d 80%,
      #FF6F00 100%);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;

  color: #000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.form-icon {
  color: #FF6F00;
  margin-right: 12px;
  font-size: 16px;
  padding: 5px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.ant-typography,
.ant-btn,
.ant-input,
.ant-form,
.ant-select,
.ant-table,
.ant-menu,
.ant-modal,
.ant-drawer,
.ant-card {
  font-family: 'Poppins', sans-serif !important;
}

.ant-input:focus,
.ant-input-focused,
.ant-input:hover,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:hover {
  border-color: #FF6F00 !important;
}

/* Textarea specifically */
.ant-form-item:has(.ant-input:focus),
.ant-form-item:has(.ant-input-affix-wrapper-focused),
.ant-form-item:has(.ant-input-textarea:focus) {
  border-color: #FF6F00 !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  background-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}