
.dashboard-heading{
    font-size:28px;
    margin-left:20px;
    font-weight:600;
}

@media (max-width:768px){
    .dashboard-heading{
        font-size:22px;
        font-weight:600;
        margin:60px auto 20px auto;
        text-align: center;
    }
}

/* Tablet devices: 768px - 992px */
@media (min-width: 768px) and (max-width: 992px) {
    .dashboard-heading {
      font-size: 24px;       /* Slightly smaller than desktop, bigger than mobile */
      margin: 40px 20px 20px 20px;  /* Adjust margin for tablet */
      text-align: left;      /* Keep left aligned or center as per your design */
    }
  }
  

  @media (hover: none) {
    .ant-tooltip {
      display: none !important;
    }
  }